.donate-page {
}

.main-donate {
	display: flex;
	gap: 40px;
	flex-direction: row;
	margin: 60px auto;
}

@media (max-width: 868px) {
	.main-donate {
		flex-direction: column;
	}
}

.main-donate > div {
	flex: 1;
}

.main-donate-text {
	display: flex;
	flex-direction: column;
	gap: 26px;
}

.main-donate-text h1 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	color: var(--color-text-primary);
}

.main-donate-text .explaination {
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: rgba(var(--color-text-primary-rgb), 0.6);
}

.kofi-hero {
	width: 100%;
	height: 200px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;

	border-radius: 16px;

	background-color: #d6a00b10;

	text-decoration: none;
	transition: all 0.1s;
}

.kofi-hero * {
	color: #946f09;
}

.kofi-hero h3 {
	font-size: 1.3rem;
	margin-top: 10px;
}

.kofi-hero p {
	font-size: 1rem;
	opacity: 0.6;
}

.kofi-hero:hover {
	border: 2px solid #d6a00b;
	box-shadow: 0px 0px 10px 0px #d6a00b;
	transform: translateY(-4px);
}

.donate-reasons {
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	align-items: flex-start;
	padding: 20px;
	margin-bottom: 60px;
}

.icon-title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	text-align: left;
}

.reason {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 16px;
	max-width: 700px;
}

.res-text {
	display: flex;
	gap: 16px;
	text-align: left;
	color: rgba(var(--color-text-primary-rgb), 0.6);
	font-size: 1rem;
	line-height: 1.5rem;
}

@media screen and (max-width: 768px) {
	.donate-reasons {
		grid-template-columns: 1fr;
	}
}
