.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #4A21C2;
}

.triangle {
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: 9;
  image-rendering: -webkit-optimize-contrast;
}

.triangle-top-left {
  top: -100px;
  margin-right: 700px;
}

.triangle-top-right {
  top: -150px;
  margin-left: 900px;
}

.triangle-bottom-left {
  top: 130px;
  margin-right: 700px;
}

.triangle-bottom-right {
  top: 250px;
  margin-left: 700px;
}

@media screen and (max-width: 768px) {
  .triangle-top-left {
    top: -160px;
    margin-right: 220px;
    max-height: 260px;
  }

  .triangle-top-right {
    top: -170px;
    margin-left: 300px;
    max-height: 300px;
  }

  .triangle-bottom-left {
    top: 290px;
    margin-right: 380px;
    max-height: 400px;
  }

  .triangle-bottom-right {
    top: 340px;
    margin-left: 360px;
    max-height: 300px;
  }
}

.content {
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 50px 20px;
}

.content h1 {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -1px;
  color: #ffffff;
}

.content p {
  font-size: 1rem;
  color: #ffffff88;
  font-weight: 500;
}

.content .buttons {
  display: flex;
  gap: 16px;
}

.content .conditions {
  font-size: 0.8rem;
  color: #ffffff55;
  font-weight: 500;
  max-width: 400px;
}

.content .conditions a {
  color: #ffffff88;
  text-decoration: none;
  font-weight: 700;
}

.content .conditions a:hover {
  text-decoration: underline;
}

.britanny-chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  background: #ffffff22;
  border-radius: 300px;
  text-decoration: none;
  transition: background 0.2s;
}

.britanny-chip:hover {
  background: #ffffff44;
}

.britanny-chip img {
  height: 13px;
}

.britanny-chip p {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 30px 20px;
    margin-top: 50px;
  }

  .content h1 {
    font-size: 2.2rem;
  }

  .content p {
    font-size: 0.95rem;
  }
  
  .britanny-chip p {
    font-size: 0.9rem;
  }

  .content .buttons {
    gap: 9px;
  }
}

.screenshots {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  z-index: 99;
}

@media screen and (min-width: 768px) {
  .screenshots {
    max-height: 300px;
  }
}

.screenshot {
  width: 369px;
  height: fit-content;
  object-fit: contain;
  object-position: bottom;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .screenshot {
    width: 250px;
    height: 250px;
  }

  .screenshots {
    gap: 10px;
    margin-top: -40px;
  }
}