nav {
  width: 100vw;
  height: 60px;

  background-color: var(--color-card);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-mock {
  height: 60px;
}

nav .width {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 32px;
}

.logo {
  display: flex;
  align-items: center;
  height: 22px;
  margin-top: 1px;
  -webkit-tap-highlight-color: transparent;
}

.logo:hover {
  filter: brightness(0.7);
}

.logo-image {
  height: 22px;
}

nav ul {
  display: flex;
  list-style: none;
  height: 100%;
  flex: 1;
}

nav ul li {
  margin-right: 24px;
  height: 100%;
}

nav ul li a {
  text-decoration: none;
  color: rgba(var(--color-text-rgb), 0.5);
  font-weight: 500;
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

nav ul li a:hover {
  color: var(--color-text);
  border-bottom-color: var(--color-text);
}

nav ul li a.active {
  font-weight: 700;
  color: var(--color-primary);
  border-bottom-color: var(--color-primary);
}

nav ul li a.donate {
  --donate-color: #d6a00b;
  color: var(--donate-color);
}

nav ul li a.donate:hover {
  color: var(--donate-color);
  border-bottom-color: var(--donate-color);
}

nav ul li a.donate.active {
  color: var(--donate-color);
  border-bottom-color: var(--donate-color);
}

nav ul li:last-child {
  margin-right: 0;
}

.spacer {
  flex: 1;
}

.mobileMenuButton {
  width: 42px;
  height: 42px;
  margin-right: -6px;
  color: var(--color-text);
  opacity: 0.5;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.2s, transform 0.2s, background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 300px;
}

.mobileMenuButton:active {
  background-color: rgba(var(--color-text-rgb), 0.2);
}

.mobileMenuButton.open {
  opacity: 1;
  transform: rotate(90deg);
  background-color: rgba(var(--color-text-rgb), 0.1);
}

.mobileMenu {
  pointer-events: none;

  position: fixed;
  top: 100px;
  right: 10px;

  background-color: var(--color-card);
  box-shadow:
    0 1px 4px rgba(0, 0, 0, 0.2),
    0 4px 8px rgba(0, 0, 0, 0.1)
    ;

  z-index: 1000;

  padding: 0px 0px;

  border-radius: 8px;
  flex-direction: column;

  overflow: hidden;

  opacity: 0;
  transform: translateY(-10px) translateX(10px) scale(0.75);

  transition: opacity 0.2s, transform 0.2s;
}

.mobileMenu.open {
  pointer-events: all;
  opacity: 1;
  transform: scale(1);
}

.mobileMenu ul {
  list-style: none;
}

.mobileMenu ul li {
  padding: 12px 16px;
  padding-top: 15px;
  border-bottom: 1px solid rgba(var(--color-text-rgb), 0.1);
  transition: background-color 0.1s;
}

.mobileMenu ul li:last-child {
  border-bottom: none;
}

.mobileMenu ul li:active {
  background-color: rgba(var(--color-text-rgb), 0.1);
}

.mobileMenu ul li a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
}

.support {
  background-color: var(--color-card);
}

.support-over {
  background-color: rgba(var(--color-text-rgb), 0.05);
  height: 34px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.support-over .width {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.support p {
  font-size: 0.8rem;
  color: rgba(var(--color-text-rgb), 0.5);
}

.support a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
}

.support a:hover {
  text-decoration: underline;
}

.literate-image {
  height: 13px;
  opacity: 0.5;
  margin-left: 9px;
  margin-top: -1px;
}

.literate-link {
  text-decoration: none !important;
}